@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Comfortaa", cursive;');
@include mat-core($custom-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #347893;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border: 1px solid #347893;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
