:host {
  width: 250px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fos {
  border-bottom: 1px solid #6497b1;
}

.product-row {
  margin: 15px 0 15px 0;
  display: flex;
}

.short {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

mat-checkbox {
  color: #6497b1;
  margin-right: 5px;
}

/*
hr {
  margin: unset;
  border-color: #6497b1;
}
*/
p {
  margin: unset;
}

.mat-raised-button {
  background-color: #005b96;
}

.shopping-list-item-container {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid #005b96;
}
