<mat-nav-list class="navigator">
  <a
    class="navigator__menu-item"
    mat-list-item
    routerLink="shopping-list"
    routerLinkActive="active-list-item">
    <mat-icon svgIcon="shopping"></mat-icon>
    <span>Shopping Lists</span>
  </a>
  <a class="navigator__menu-item" mat-list-item routerLink="dummy" routerLinkActive="active-list-item">
    <mat-icon svgIcon="recipe"></mat-icon>
    <span>Recipes</span>
  </a>
  <a class="navigator__menu-item" mat-list-item routerLink="dummy" routerLinkActive="active-list-item">
    <mat-icon svgIcon="food-container"></mat-icon>
    <span>Store</span>
  </a>
  <a class="navigator__menu-item" mat-list-item routerLink="dummy" routerLinkActive="active-list-item">
    <mat-icon svgIcon="calendar"></mat-icon>
    <span>Meal Planner</span>
  </a>
</mat-nav-list>
